[package]
name = "albw-randomizer"
version = "0.3.1"
authors = [
    "Kevin Marsolais <kevin@kevinmarsolais.co>",
    "Rick Fay <rickwithanh@gmail.com>",
]
edition = "2021"
license = "GPL-2.0-or-later"

[dependencies]
cli = { workspace = true }
log = { workspace = true }
macros = { workspace = true }
rand = { workspace = true }
randomizer = { path = "./randomizer" }
rom = { workspace = true }
settings = { workspace = true }
simplelog = "0.12.0"
structopt = "0.3.26"

[build-dependencies]
winres = "0.1"

[[bin]]
name = "albw-plandomizer"
path = "./src/bin/plando.rs"

[workspace]
members = [
    "bytey",
    "bytey-macro",
    "cli",
    "jack",
    "macros",
    "randomizer",
    "rom",
    "settings",
]

[workspace.dependencies]
byteorder = "1.4.3"
bytey = { path = "./bytey" }
cli = { path = "./cli" }
jack = { path = "./jack" }
log = "0.4.17"
macros = { path = "./macros" }
path-absolutize = "3.0.14"
rand = { version = "0.8.5", features = ["std_rng"] }
rom = { path = "./rom" }
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
settings = { path = "./settings" }
yaz0 = "0.3.0"

[profile.release]
codegen-units = 1
lto = true
#opt-level = "s"
#strip = true
